body {
  font-family: sans-serif;
  img {
    height: 50px;
    width: 50px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    flex: 1 1 0;
  }
  img {
    flex: 1 1 0;
  }
}